.btn-small{
    background-color:  #8d6e63;
    font-size: x-large;
    font-family: fantasy;

}
.btn-small:hover{
    background-color:  #8d6e63;
    font-size: x-large;
    font-family: fantasy;

}
