body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 4%;
}

.nav-wrapper{
    background: #8d6e63;
}

.page-footer{
    background: #8d6e63;
}
.mm {
    margin: 10%;
}
.promo{
    background: #8d6e63;
    border-radius: 20px;
}

.promo-caption{
}

.btn-large{
    background-color: #8d6e63;
}
.btn-large:hover{
    background-color: #8d6e63;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.brand-logo{
    margin-left: 30px;
}

.btn{
    background-color: #8d6e63;
}
.btn:hover{
    background-color: #8d6e63;
}
.btn-small{
    background-color: #8d6e63;
}
.btn-small:hover{
    background-color: #8d6e63;
}