body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 4%;
}

.nav-wrapper{
    background: #90caf9;
}

.page-footer{
    background: #90caf9;
}
.mm{
    margin: 10%;
}

.promo{
    background: #90caf9;
    border-radius: 20px;
}

.promo-caption{
    font-size: 16pt;
}

.btn-large{
    background-color: #90caf9;
}
.btn-large:hover{
    background-color: #bbdefb;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.brand-logo{
    margin-left: 30px;
}

.btn{
    background-color: #90caf9;
}
.btn:hover{
    background-color: #bbdefb;
}
.btn-small{
    background-color: #90caf9;
}
.btn-small:hover{
    background-color: #bbdefb;
}
.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 5% 10%;
}
.hide,
.hide + label ~ div {
    display: none;
}
.hide + label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}
.hide:checked + label + div {
    display: block;
}
